<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<#if User?has_content>
    <title>Пользователь id=${User.id}</title>
    <#else>
    <title>Добавить юзера</title>
</#if>
<script>
function increasePhones() {
            var divPhoneNumber = document.getElementById("phoneNumber");
            var divPhoneNumberContext = divPhoneNumber.outerHTML;
            divPhoneNumber.outerHTML = "<p><input type=\"text\" name=\"phone\" id=\"phone\">" + divPhoneNumberContext
            }
</script>

<style>
        .btn {
            display: inline-block; /* Строчно-блочный элемент */
            background: #8C959D; /* Серый цвет фона */
            color: #fff; /* Белый цвет текста */
            padding: 1rem 1.5rem; /* Поля вокруг текста */
            text-decoration: none; /* Убираем подчёркивание */
            border-radius: 3px; /* Скругляем уголки */
        }
</style>

</head>
<body>

<#if User?has_content>
<form action="/api/edit" method="POST">
    <#else>
    <form action="/api/add" method="POST">
    </#if>
    <#if User?has_content>
    <#assign id = User.id>
    <#assign name = User.name>
    <#assign age = User.age>
    <#assign address = User.homeAddress.street>
    <#assign phones = Phones>
    <#else>
    <#assign id = "">
    <#assign name = "">
    <#assign age = "">
    <#assign address = "">
    <#assign phones = []>
</#if>
<input type="hidden" name="id" value="${id}">
<label for="name">Имя</label>
<input type="text" name="name" id="name" value="${name}">
<p>
    <label for="age">Возраст</label>
    <input type="text" name="age" id="age" value="${age}">
<p>
    <label for="address">Адрес</label>
    <input type="text" name="homeAddress" id="address" value="${address}">
<p>
    <a name="Phones"></a>
    <label for="phone">Телефон</label>
    <#list phones as phone>
    <p>
    <input type="text" name="phone" id="phone" value="${phone}">
    </#list>
<div id="phoneNumber"></div>
<a href="#Phones" class="btn" onclick="increasePhones()" >+</a>
<input type="submit" value="Сохранить">
</form>

</body>
</html>