<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <#if user?has_content>
    <title>Пользователь id=${user.id}</title>
    <#else>
    <title>Добавить юзера</title>
    </#if>
<script>

    function sendRequest() {
        let form = document.forms[0];
        let id = form.getAttribute('id');
        let api = "";
        let method = "";

        if (id == "addForm") {
            api = "/api/add?";
            method = 'POST'
        }

        let userId = form.elements.id.value;
        if (id == "editForm") {
            api = "/api/edit?id=" + userId + "&";
            method = 'PUT'
        }

        let phonesArr = form.elements.phone;
        let phones = "";
        if (Array.isArray(phonesArr)) {
            for (let i = 0; i < phonesArr.length; i++) {
                phones += "&phone=" + phonesArr[i].value;
            }
        } else {
            if (phonesArr != null) {
                phones += "&phone=" + phonesArr.value;
            }
        }

        let name = form.elements.name.value;
        let age = form.elements.age.value;
        let address = form.elements.homeAddress.value;

        let responseContainer = document.getElementById("responseContainer");
        fetch(api + 'name=' + name + "&" + "age=" + age + "&" + "homeAddress=" + address + phones, {method: method})
            .then(response => response.text())
            .then(response => responseContainer.textContent = response);
    }

    function increasePhones() {
        var divPhoneNumber = document.getElementById("phoneNumber");
        var divPhoneNumberContext = divPhoneNumber.outerHTML;
        divPhoneNumber.outerHTML = "<p><input type=\"text\" name=\"phone\" id=\"phone\">" + divPhoneNumberContext
    }
</script>

<style>
    .btn {
        display: inline-block; /* Строчно-блочный элемент */
        background: #8C959D; /* Серый цвет фона */
        color: #fff; /* Белый цвет текста */
        padding: 1rem 1.5rem; /* Поля вокруг текста */
        text-decoration: none; /* Убираем подчёркивание */
        border-radius: 3px; /* Скругляем уголки */
    }
</style>

</head>
<body>

<#if user?has_content>
<form action="" id="editForm">
    <#else>
    <form action="" id="addForm">
    </#if>
    <#if user?has_content>
    <#assign id = user.id>
    <#assign name = user.name>
    <#assign age = user.age>
    <#if user.homeAddress?has_content>
    <#assign address = user.homeAddress.street>
    <#else>
    <#assign address = "">
</#if>
<#assign phones = phones>
<#else>
<#assign id = "">
<#assign name = "">
<#assign age = 0>
<#assign address = "">
<#assign phones = []>
</#if>
<input type="hidden" name="id" value="${id}">
<label for="name">Имя</label>
<input type="text" name="name" id="name" value="${name}">
<p>
    <label for="age">Возраст</label>
    <input type="text" name="age" id="age" value="${age}">
<p>
    <label for="address">Адрес</label>
    <input type="text" name="homeAddress" id="address" value="${address}">
<p>
    <a name="Phones"></a>
    <label for="phone">Телефон</label>
    <#list phones as phone>
<p>
    <input type="text" name="phone" id="phone" value="${phone}">
</#list>
<div id="phoneNumber"></div>
<a href="#Phones" class="btn" onclick="increasePhones()">+</a>
<input type="button" value="Сохранить" onclick="sendRequest()">
</form>
<p>
<div id="responseContainer"></div>
<a href="/#UsersTable" class="btn">Вернуться на главную</a>
</body>
</html>