<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Пользователи</title>
    <script>
        function getUserById() {
            const userIdTextBox = document.getElementById('userIdTextBox');
            const userDataContainer = document.getElementById('userDataContainer');
            const id = userIdTextBox.value;
            //fetch('api/user?id=' + id)
            postMessage('api/edit/' + id);
        }
    </script>

    <style>
        .btn {
            display: inline-block; /* Строчно-блочный элемент */
            background: #8C959D; /* Серый цвет фона */
            color: #fff; /* Белый цвет текста */
            padding: 1rem 1.5rem; /* Поля вокруг текста */
            text-decoration: none; /* Убираем подчёркивание */
            border-radius: 3px; /* Скругляем уголки */
        }
    </style>

</head>



<body>
<h4>Введите id пользователя для редактирования</h4>
<input type="text" id = "userIdTextBox" value="1" placeholder="Введите id пользователя">
<button onclick="document.location='api/edit/5'">Редактировать</button>
<div id = "userDataContainer"></div>

<a href="api/edit/1" class="btn">Получить пользователей</a>
<a href="api/add" class="btn">Добавить пользователя</a>

<h4>Случайный пользователь</h4>
<table style="width: 400px">
    <thead>
        <tr>
            <td style="width: 50px">Id</td>
            <td style="width: 150px">Имя</td>
            <td style="width: 100px">Возраст</td>
            <td style="width: 100px">Адрес</td>
            <td style="width: 100px">Телефон</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>${User.id}</td>
            <td>${User.name}</td>
            <td>${User.age}</td>
            <td>${User.homeAddress.street}</td>
            <td><#list Phones as phone>
                <p>${phone.number}
                </#list></td>
            <td>
                <a href="api/edit/${User.id}">Изменить</a>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>
