<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Пользователи</title>
    <script>
        function getUserPhonesById(id) {
            const userPhonesContainer = document.getElementById('userPhonesContainer' + id);
            const getUserPhonesContainer = document.getElementById('getUserPhonesContainer' + id);
            fetch('api/phones/' + id)
                .then(response => response.json())
                .then(phones => userPhonesContainer.textContent = phones);
            getUserPhonesContainer.style.display = "none";
        }

        function usersViewDiv(){
            var divUsers = document.getElementById("divUsers");
            divUsers.innerHTML = "<table style=\"width: 600px\">\n" +
                "    <thead>\n" +
                "        <tr>\n" +
                "            <td style=\'width: 50px\'>Id</td>\n" +
                "            <td style=\"width: 150px\">Имя</td>\n" +
                "            <td style=\"width: 100px\">Возраст</td>\n" +
                "            <td style=\"width: 150px\">Адрес</td>\n" +
                "            <td style=\'width: 150px\'>Телефон</td>\n" +
                "        </tr>\n" +
                "    </thead>\n" +
                "    <tbody>\n" +
                "        <#list Users as User><tr>\n" +
                "            <td>${User.id}</td>\n" +
                "            <td>${User.name}</td>\n" +
                "            <td>${User.age}</td>\n" +
                "            <td>${User.homeAddress.street}</td>\n" +
                "            <td>" +
                "               <div id = \"userPhonesContainer${User.id}\"></div>"+
                "               <div id = \"getUserPhonesContainer${User.id}\">" +
                "                   <a href=\"#UsersTable\" class=\"btn\" onclick='getUserPhonesById(${User.id})'>Показать телефон</a>\n" +
                "               </div>"+
                "            </td>\n" +
                "            <td>\n" +
                "                <a href=\"api/edit/${User.id}\" class=\"btn\">Изменить</a>\n" +
                "            </td>\n" +
                "        </tr></#list>\n" +
                "    </tbody>\n" +
                "</table>";
            divUsers.style.display = "block";
        }

        </script>

    <style>
        .btn {
            display: inline-block; /* Строчно-блочный элемент */
            background: #8C959D; /* Серый цвет фона */
            color: #fff; /* Белый цвет текста */
            padding: 1rem 1.5rem; /* Поля вокруг текста */
            text-decoration: none; /* Убираем подчёркивание */
            border-radius: 3px; /* Скругляем уголки */
        }

        #divUsers{
            display: none;
        }

    </style>

</head>



<body>

<a href="#UsersTable" class="btn" onclick="usersViewDiv()" >Получить пользователей</a>
<a href="api/add" class="btn">Добавить пользователя</a>

<h4>Список пользователей</h4>
<a name="UsersTable"></a>
<div id="divUsers"></div>
</body>
</html>
