<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Пользователи</title>
    <script>
        function getUserById() {
            const userDataContainer = document.getElementById('userDataContainer');
            // //fetch('api/user?id=' + id)
            const requestURL = 'api/users';
            var request = new XMLHttpRequest();
            request.open('GET', requestURL);
            request.responseType = 'json';
            request.send();
            request.onload = function() {
                var users = request.response;
                userDataContainer.textContent = users;
            }
            //

            // fetch('api/user')
            //     .then(response => response.json())
            //     .then(user => userDataContainer.innerHTML = JSON.stringify(user));
        };

        function viewDiv(){
            var divUsers = document.getElementById("divUsers");
            divUsers.innerHTML = "<table style=\"width: 400px\">\n" +
                "    <thead>\n" +
                "        <tr>\n" +
                "            <td style=\"width: 50px\">Id</td>\n" +
                "            <td style=\"width: 150px\">Имя</td>\n" +
                "            <td style=\"width: 100px\">Возраст</td>\n" +
                "            <td style=\"width: 100px\">Адрес</td>\n" +
                "            <td style=\"width: 100px\">Телефон</td>\n" +
                "        </tr>\n" +
                "    </thead>\n" +
                "    <tbody>\n" +
                "        <tr>\n" +
                "            <td><#list Users as User>\n" +
                "            <td>${User.id}</td>\n" +
                "            <td>${User.name}</td>\n" +
                "            <td>${User.age}</td>\n" +
                "            <td>${User.homeAddress.street}</td>\n" +
                "            <td><#if User.phones?has_content><#list User.phones as phone>\n" +
                "                <p>${phone.number}\n" +
                "                </#list></td>\n" +
                "    </#if>"+
                "            <td>\n" +
                "                <a href=\"api/edit/${User.id}\">Изменить</a>\n" +
                "            </td>\n" +
                "            </#list></td>\n" +
                "        </tr>\n" +
                "    </tbody>\n" +
                "</table>"
            divUsers.style.display = "block";
        };
        </script>

    <style>
        .btn {
            display: inline-block; /* Строчно-блочный элемент */
            background: #8C959D; /* Серый цвет фона */
            color: #fff; /* Белый цвет текста */
            padding: 1rem 1.5rem; /* Поля вокруг текста */
            text-decoration: none; /* Убираем подчёркивание */
            border-radius: 3px; /* Скругляем уголки */
        }

        #divUsers{
            display: none;
        }

    </style>

</head>



<body>
<button class="btn" onclick="getUserById()">Получить json</button>
<div id = "userDataContainer"></div>
<p>
<a href="" class="btn" onclick="viewDiv()" >Получить пользователей</a>
<a href="api/add" class="btn">Добавить пользователя</a>

<input class="btn" type="button" value="Click" onclick="viewDiv()">

<h4>Случайный пользователь</h4>

<div id="divUsers"></div>
</body>
</html>
